<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
             <!--hibernate.dialect=${hibernate.dialect}
                hibernate.show_sql=${hibernate.showsql}
                hibernate.query.substitutions=true 'T', false 'F'
                hibernate.cache.use_second_level_cache=true
                hibernate.cache.use_query_cache=true
                hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider -->
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.cache.use_query_cache">false</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <mapping class="org.actionfeed.domain.model.Volunteer"/>
        <mapping class="org.actionfeed.domain.model.Event"/>
    </session-factory>
</hibernate-configuration>
